
  
  .btnn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: black;
    border: 1px solid rgb(7,7,7);
    border-radius: 20px;
  }
  
  .btn--outline {
    background-color:#fec830;
    color: black;
    padding: 8px 20px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 20px;
    margin-left: 10px;
    margin-top:0px;
    width:200px;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 20px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fec830;
    color: black;
    transition: 250ms;
  }