.hero-containerrr{
    background: url("../img-17.jpg") center center/cover
    no-repeat;
    color: black;
    height: 60vh;
    width: 100%;
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-shadow: inset 0 0 0 10000px rgb(0, 0, 0,0,2);
    object-fit: contain;
}
.tourH
{
    color:#fff;
    font-size: 45px;
    margin-top: 300px;
    margin-right: 1250px;

}
.hero-containerrr >p{
    margin-top: 8px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 85px;
    margin-right: 85px;

}





@media screen and (max-width:960px){

    .tourH{
        color:#fff;
        font-size: 50px;
        margin-top: -150px;
        margin-left: 0px;

    }}
@media screen and (max-width:768px){

    .tourH{
        color: #fff;
        font-size: 30px;
        margin-top: 400px;
        margin-left: 800px;
      

    }
    .hero-containerrr >p{
        
        text-align: center;
font-size:50px;
    }
}
